:data_directory: /path/to/root/data/directory
:institution_code: INSTITUTION_CODE
:bib_metadata:
  :field: "950"
:holding_metadata:
  :field: "952"
:locations:
  :field: "852"
  :subfields:
    - b
    - h
:summary_statements:
  :field: "866"
  :subfields:
    - a
:supplementary_materials:
  :field: "867"
:indexes:
  :field: "868"
:action_notes:
  :field: "583"
:item_enrichment:
  :field: "876"
  :pid_sf: a
  :status_sf: j
  :library: k
  :barcode_sf: p
  :copy_id_sf: t
  :description_sf: 3
